@charset "utf-8";
/* CSS Document */

*{
	margin:0;padding:0;
	font-size:14px;
}

body{background-color:#f5f5f5;}
a{text-decoration:none;}
ul{list-style:none;}

#weather{
	width:170px;
	position:fixed;
	top:100px;
	right:0px;
}
#top{
	width:100%;
	height:27px;
	background:url(img/top_bg.jpg) repeat-x;
}

#top ul{
	width:1000px;
	margin:0 auto;
}
#top ul li{
	float:right;
	width:70px;
	height:27px;
	list-style-image:url(img/arrow.jpg);
	line-height:27px;
	margin-left:5px;
}
#top ul li a{
	color:#8e8e8e;
}
#top ul li a:hover{
	color:#c00;
}
/*****************************/
/*****************************/
#warp{
	width:1000px;
	margin:0 auto;
}
#warp .logo{
	height:80px;
	background-color:#fff;
}
#warp .logo .logo_left{
	float:left;
	height:80px;
	display: inline;
}
#warp .logo .tel{
	width: 300px;
	height: 28px;
	margin-top: 40px;
	float: right;
	display: inline;
	color: #8E8E8E;
	margin-right:20px;
}
#warp .logo .tel img{
	vertical-align: middle;
	margin-right: 10px;
}
#warp .logo .tel .tel_num{
	font-family: "微软雅黑";
	font-size: 22px;
	color: #C00;
	text-decoration: none;
}
/*****************************/
#warp .logo_title{
	height:40px;
	position:relative;
	border-radius:5px;
	background-color:#766d66;
}
#warp .logo_title ul{
	margin-left:20px;
	width:900px;
}
#warp .logo_title ul li{
	float:left;
	width:100px;
	text-align:center;
	height:42px;
	line-height:42px;
}
#warp .logo_title ul li a{
	font-size:18px;
	font-family:"微软雅黑";
	color:#fff;
}
#warp .logo_title ul li a:hover,#warp .logo_title ul li:hover{
	color:#ffff00;
	background-color:#666;
}
#warp .logo_title form{
	position:absolute;
	top:7px;
	left:700px;
}
#warp .logo_title .search_text{
	width:200px;
	height:24px;
	background:url(img/search.jpg) no-repeat center right #fff;
	border:1px solid #fff;
	padding-left:5px;
	padding-right:25px;
}
/*****************************/
.ad{
	height:320px;
	margin-top:5px;
	overflow:hidden;
}
/*****************************/
.mes{
	margin-top:5px;
}
.mes .title{
	height: 35px;
	border-bottom: 2px solid #E8E8E8;
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 35px;
	font-weight: bold;
	color: #786F66;
}
.title .title_left{
    width: 70%;
	float: left;
	padding-left: 20px;
}
.title .title_right{
	width: 20%;
	float: right;
	text-align: right;
}
.title_right a {
	color: #999;
	text-decoration: none;
	font-family: "宋体";
	font-size: 10px;
	font-weight: normal;
	padding-right: 10px;
}
.new{
	float:left;
	width:340px;
	border:1px solid #E8E8E8;
	background-color:#fff;
	height:260px;
	margin:2px;
}
.new_pic{
	line-height:22px;
	margin-top:10px;
}
.new_pic img,.course_pic img{
	float:left;
	margin:0 5px;
}
.new_pic a,.course_pic a{
	color:#c00;
}
.new_pic p,.course_pic p{
	margin-left:10px;
}
.new_list{
	margin-top:20px;
	margin-left:20px;
}
.new_list ul li{
	height:20px;
	list-style-image:url(img/list.jpg);
	border-bottom:1px dotted #ccc;
	padding:0;
	margin-bottom:5px;
}
.new_list ul li a{
	color:#000;
	font-size:12px;
}
.new_list ul li a:hover{
	color:#f00;
}
.new_list ul li span{
	font-size:10px;
	float:right;
	margin-right:5px;
	line-height:22px;
	color:#999;
}
.new_other{
	float:left;
}
.course{
	width:410px;
	float:left;
	border:1px solid #E8E8E8;
	background-color:#fff;
	height:260px;
	margin:2px;
}
.course_pic{
	margin-top:10px;
	line-height:18px;
}
.course_list{
	width:370px;
	height:37px;
	margin:20px auto;
	background:url(img/product_type_bg.jpg);
}
.course_list ul li{
	line-height:37px;
	margin:0 15px;
	float:left;
}
.media{
	width:230px;
	float:left;
	border:1px solid #E8E8E8;
	background-color:#fff;
	height:260px;
	margin:2px;
}
.media_video{
	margin-left:2px;
	height:145px;
	border:1px solid #e8e8e8;
}
.media_pic{
	margin-top:15px;
	border:1px solid #e8e8e8;
}